-var list = ['1', '2', '3']
html
    head
        title MyApp
    body(class='myClass')
        h1(id='MyId') My App
        p
            h3 sub heading
        ul
            each val in list
                li(class='vi'+val)=val