<html>
    <head>
        <!-- bower:css -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <!-- endbower -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/css/styles.css">
        <!-- endinject -->
        <!-- inject:js -->
        <!-- endinject -->
    </head>
    <body>
        <h1>
            <%=title%> in EJS
        </h1>
        <ul>
            <% for(var i=0; i<list.length; i++) {%>
                <li class=<%='vi'+list[i]%>><%=list[i]%></li>
            <%}%>
        </ul>
    </body>
</html>